includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - src
        - vatly-for-fluentcart.php
    bootstrapFiles:
        - tests/phpstan/stubs.php
    treatPhpDocTypesAsCertain: false
